extends layout

block content
  link(rel="stylesheet", href="stylesheets/index.css", defer)

  .container
    .content-container
      .photosUp
        img(src=otrasTresImagenes[0].ruta, class="photo photo1")
        img(src=imagenesPrincipales[0].ruta, class="photo photo2", id="fotoOro")
        img(src=otrasTresImagenes[1].ruta, class="photo photo3", id="fotoComun3")
      .fotaza
        img(src="images/fotaza.png", class="fotazaImg")
      .photosBottom
        img(src=imagenesPrincipales[1].ruta, class="photo photo4", id="fotoPlata")
        img(src=otrasTresImagenes[2].ruta, class="photo photo5")
        img(src=imagenesPrincipales[2].ruta, class="photo photo6", id="fotoBronce")

    .form-container
      h2 Login
      form(action="/auth/login", method="post")
        input(type="text", name="UserName", placeholder="UserName")
        br
        input(type="password", name="Password", placeholder="Password")
        br
        input(type="submit", value="Login", class="button")
      
      h2 Sign Up
      form(action="/auth/registrar", method="post", id="signup-form")
        input(type="text", name="UserName", placeholder="Username")
        br
        input(type="password", name="Password", placeholder="Password")
        br
        input(type="email", name="Email", placeholder="Email")
        br
        input(type="submit", value="SignUp", class="button")
      .log-social
        img(src="icons/facebook.png", alt="", class="socialLoggin")
        img(src="icons/google.png", alt="", class="socialLoggin")
        img(src="icons/github.png", alt="", class="socialLoggin")
      .boton-invitado
        form(action="/auth/loginInvitado", method="post")
          input(type="submit", value="Entrar Como Invitado", class="button", id="btnInvitado")  

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script.
    $(document).ready(function() {
      $("#signup-form").submit(function(event) {
        event.preventDefault();

        $.ajax({
          type: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          dataType: "json",
          success: function(response) {
            alert(response.message);
            if(response.message = "Usuario Creado"){
              $("#signup-form input[type='text'], #signup-form input[type='password'], #signup-form input[type='email']").val("");
            }
            
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    })
