extends layout

block content

  link(rel="stylesheet", href="/stylesheets/principal.css")

  .cabecera 
    input(type="search", name="buscarUsuarios", placeholder="Busca un Usuario", id="buscaUsuario") 
    .filtros 
      select(name="filtro1", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2 
        option(value="opcion3") opcion 3 
      select(name="filtro2", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2
        option(value="opcion3") opcion 3
      select(name="filtro3", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2
        option(value="opcion3") opcion 3
    a(href="/perfil/", id="linkPerfil") Mi Perfil

  .container-fluid
      
    each imagen in imagenes
      br
      br
      .row
        .col-3
          | Contenido de la columna 1
        .col-6(class="foto-cont")
          h3= imagen.titulo
          .row(class="datos-Row")
            .col-12
              .datos
                p= "Autor: " + imagen.autor
                p= "Ranking: "+imagen.ranking
          .row(class="datos-Row") 
            .col-12
              .datos
                p= "Fecha: " + new Date(imagen.fechaCreacion).toLocaleDateString()
                p= "Hora: " + new Date(imagen.fechaCreacion).toLocaleTimeString()
          img(src="/" + imagen.path, alt="")
          form(id="formulario-comentario" action="/comentarios/comentar" method="post")
            .agregar-comentario 
              input(type="number", name="nfoto", value=imagen.id, hidden="true")
              textarea(id="n-comentario", name="comentario", class="form-control rounded", rows="2", placeholder="Escribe un comentario", maxlength="300")
              button(id="btn-subir" type="submit") 
                img(src="/icons/pngegg.png", alt="")
          .comentarios
            each comentario, index in imagen.comentarios.slice(0, 1)
              
              img(id="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
              p= comentario.comentario
          if(imagen.comentarios.length > 1)
            details
              summary Mas Comentarios
              each comentario, index in imagen.comentarios.slice(1, imagen.comentarios.length)
                .comentarios
                  img(id="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
                  p= comentario.comentario
        .col-3 
          | Contenido de la columna 3


      

            
      script.
        
       /*
        const container = document.querySelector('.foto-cont');
        let page = 1;

        function fetchImages() {
          fetch('/')
            .then(response => response.json())
            .then(imagenes => {
              imagenes.forEach(imagen => {
                const imgElement = document.createElement('img');
                imgElement.src = imagen.path;
                container.appendChild(imgElement);
              });

              page++;
            })
            .catch(error => console.error(error));
        }

        fetchImages();

        window.addEventListener('scroll', () => {
          if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            fetchImages();
          }
        }); */
        

