extends layout

block content

  link(rel="stylesheet", href="/stylesheets/principal.css")
  script(src="/javascripts/principal.js", defer) 

  .cabecera 
    input(type="search", name="buscarUsuarios", placeholder="Busca un Usuario", id="buscaUsuario") 
    .filtros 
      select(name="filtro1", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2 
        option(value="opcion3") opcion 3 
      select(name="filtro2", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2
        option(value="opcion3") opcion 3
      select(name="filtro3", class="filtro")
        option(value="opcion1") opcion 1
        option(value="opcion2") opcion 2
        option(value="opcion3") opcion 3
    a(href="/perfil/", id="linkPerfil") Mi Perfil

  .container-fluid
      
    each imagen in imagenes
      br
      br
      .row(id="foto" + imagen.id)
        .col-3
          | Contenido de la columna 1
        .col-6(class="foto-cont")
          h3= imagen.titulo
          .row(class="datos-Row")
            .col-12
              .datos
                p= "Autor: " + imagen.autor
                p= "Ranking: " + imagen.ranking
          .row(class="datos-Row") 
            .col-12
              .datos
                p= "Fecha: " + new Date(imagen.fechaCreacion).toLocaleDateString()
                p= "votos: " + imagen.cantVotos
          img(src="/" + imagen.path, alt="", id="foto" + imagen.id)
          .estrellasCont(id="estrellasCont" + imagen.id)
            if(imagen.votoUsuario == 1 || imagen.votoUsuario == 2 || imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
              .estrella1(class="estrellas estrellaSelected", onclick=`click1estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            else 
              .estrella1(class="estrellas", onclick=`click1estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            if (imagen.votoUsuario == 2 || imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
              .estrella2(class="estrellas estrellaSelected", onclick=`click2estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            else
              .estrella2(class="estrellas", onclick=`click2estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            if (imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
              .estrella3(class="estrellas estrellaSelected", onclick=`click3estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            else
              .estrella3(class="estrellas", onclick=`click3estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            if (imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
              .estrella4(class="estrellas estrellaSelected", onclick=`click4estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            else
              .estrella4(class="estrellas", onclick=`click4estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            if (imagen.votoUsuario == 5)
              .estrella5(class="estrellas estrellaSelected", onclick=`click5estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            else 
              .estrella5(class="estrellas", onclick=`click5estrella(${imagen.id})`)
                img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
          form(id="formulario-comentario" action="/comentarios/comentar" method="post")
            .agregar-comentario 
              input(type="number", name="nfoto", value=imagen.id, hidden="true")
              textarea(id="n-comentario", name="comentario", class="form-control rounded", rows="2", placeholder="Escribe un comentario", maxlength="300")
              button(id="btn-subir" type="submit") 
                img(src="/icons/pngegg.png", alt="")
          .comentarios
            each comentario, index in imagen.comentarios.slice(0, 1)
              
              img(id="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
              p= comentario.comentario
          if(imagen.comentarios.length > 1)
            details
              summary Mas Comentarios
              each comentario, index in imagen.comentarios.slice(1, imagen.comentarios.length)
                .comentarios
                  img(id="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
                  p= comentario.comentario
        .col-3 
          | Contenido de la columna 3

            
 
