extends layout

block content

  link(rel="stylesheet", href="/stylesheets/principal.css")
  script(src="/javascripts/principal.js", defer) 
  script(src="/javascripts/cargarImagen.js")
  script(src="/javascripts/controlMensajes.js", defer)
  

  .cabecera 
    .div-cabecera(id="buscador-perfil")
      input(type="search", name="buscarUsuarios", placeholder="Busca un Usuario", id="buscaUsuario")
      
    .div-cabecera( id="filtroCategoria") 
      select(name="filtro1", class="filtro" id="filtroCategoriaSelect")
        option(value="Todos", selected) ---Elige una categoria---
        option(value="Naturaleza y Paisajes") Naturaleza y Paisajes
        option(value="Viajes y Turismo") Viajes y Turismo
        option(value="Estilo de Vida y Cultura") Estilo de Vida y Cultura
        option(value="Arte y Creatividad") Arte y Creatividad
        option(value="Retratos y Personas") Retratos y Personas
        option(value="Aventuras y Deportes") Aventuras y Deportes
      input(type="text", name="", placeholder="Busca por palabra", id="filtroEtiquetas") 
      

    .div-cabecera(id= "chat-salir")
      if(autenticado)
        a(href=`/perfil/${usuarioId}`, id="linkPerfil") Mi Perfil
      .divChat
        if(autenticado)
          .imgChatCont
            img(src="/icons/pngwing.com.png", alt="", id="imgChat")
          .cantMensajes(id="cantMensajesContenedor")
            p(id="canMensajes")
      a(href="/", id="linkSalir") Salir

  .listaPerfiles 
    .div-lista(id="div-lista")
      .paraBarra(id="paraBarra")
        
      
      
    .div-nada
      input(type="checkbox" id="logeado", checked= autenticado, hidden)
      

    .div-mensajes
      .div-lista(id="div-mensajes")
      .paraBarra(id="paraBarraMensajes")
        

  .container-fluid
    if(autenticado)  
      .subirFotoContainer
        .nfoto
          img(src="/icons/subiObra.png", alt="", id="fotoAsubir") 
        form(action="imagen/publicar", method="post", enctype="multipart/form-data" id="subirFoto")
          input(type="file", name="foto", id="foto", required)
          
          label(for="titulo") Titulo
          input(type="text", name="titulo", style="width: 50%;", required)
          <label for="comentario-autor">Comentario del autor</label>
          textarea(name="comentarioAutor" style="width: 50%" rows="3", placeholder="Comentario del autor (opcional)")
          input(type="text", name="marcaAgua", id="marcaA" placeholder="Marca de agua personaliada (opcional)", style="width: 50%")
          label(for="categoria") Categoria
          select(name="categoria")
            option(value="1") Naturaleza y Paisajes
            option(value="2") Viajes y Turismo
            option(value="3") Estilo de Vida y Cultura
            option(value="4") Arte y Creatividad
            option(value="5") Retratos y Personas
            option(value="6") Aventuras y Deportes 
            option(value="7") Otros 
          label(for="etiquetas") Etiquetas 
          .etiquetas(id="etiquetas") 
            input(type="text", name="etiqueta1", placeholder="Etiqueta 1 (opcional)")
            input(type="text", name="etiqueta2", placeholder="Etiqueta 2 (opcional)")
            input(type="text", name="etiqueta3", placeholder="Etiqueta 3 (opcional)")

          label(for="privacidad") Privacidad 
          select(name="privacidad", id="privacidad")
            option(value="1") Publico
            option(value="2") Privado 

          label(for="licencia") Licencia
          select(name="licencia", id="licencia")
            option(value="1") Copyright (derechos de autor)
            option(value="2") Copyleft (foto y derivados siempre publicos)
            option(value="3", selected) Dominio Publico

        

          input(type="submit", value="Subir")
    
      
    each imagen in imagenes
      br
      br
      .row(id="foto-main-container" + imagen.id)
        input(type="text", id="textEtiqueta1", value=imagen.etiqueta1, hidden)
        input(type="text", id="textEtiqueta2", value=imagen.etiqueta2, hidden)
        input(type="text", id="textEtiqueta3", value=imagen.etiqueta3, hidden)
        .col-3
          
        .col-6(class="foto-cont", id="fotoCont"+imagen.id)
          h3= imagen.titulo
          .row(class="datos-Row")
            .col-12
              .datos
                p= "Autor: " + imagen.autor
                p= "Cat : "+imagen.categoria.categoria
                p(id="cantVotos"+imagen.id)= "Votos: " + imagen.cantVotos
          .row(class="datos-Row") 
            .col-12
              .datos
                p= "Fecha: " + new Date(imagen.fechaCreacion).toLocaleDateString()                
                p= "Licencia : " + imagen.licencia.licencia
                p(id="ranking"+imagen.id)= "Ranking: " + imagen.ranking
                
         
            
          .etiquetasMostrar 
            if(imagen.etiqueta1 || imagen.etiqueta2 || imagen.etiqueta3)
              .etiquetaKeyword
                p Keywords:
              .restoEtiquetas
                if(imagen.etiqueta1)
                  .etiqueta1
                    p(id="Etiqueta1")= imagen.etiqueta1 + " "
                if(imagen.etiqueta2)
                  .etiqueta2
                    p(id="Etiqueta2")= imagen.etiqueta2  + " "
                if(imagen.etiqueta3)
                  .etiqueta3
                    p(id="Etiqueta3")= imagen.etiqueta3 + " " 
          if(autenticado)
            button(onclick=`mensajearAutor(${imagen.autorId})`) enviale un mensaje al autor
          img(src="/" + imagen.ruta, alt="", id="foto" + imagen.id, onload=`watermarkImageWithText(${imagen.id}, ${autenticado}, ${imagen.privacidadId}, "${imagen.marcaAgua}")`)
          p(id="comentario-autor-foto"+imagen.id, class="comentario-autor-foto")= imagen.comentarioAutor
          if(autenticado)
            .estrellasCont(id="estrellasCont" + imagen.id)
              if(imagen.votoUsuario == 1 || imagen.votoUsuario == 2 || imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
                .estrella1(class="estrellas estrellaSelected", onclick=`click1estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else 
                .estrella1(class="estrellas", onclick=`click1estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              if (imagen.votoUsuario == 2 || imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
                .estrella2(class="estrellas estrellaSelected", onclick=`click2estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else if(imagen.votoUsuario == 0)
                .estrella2(class="estrellas", onclick=`click2estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else
                .estrella2(class="estrellas", onclick=`click2estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              if (imagen.votoUsuario == 3 || imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
                .estrella3(class="estrellas estrellaSelected", onclick=`click3estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else if(imagen.votoUsuario == 0)
                .estrella3(class="estrellas", onclick=`click3estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else
                .estrella3(class="estrellas", onclick=`click3estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              if (imagen.votoUsuario == 4 || imagen.votoUsuario == 5)
                .estrella4(class="estrellas estrellaSelected", onclick=`click4estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else if(imagen.votoUsuario == 0)
                .estrella4(class="estrellas", onclick=`click4estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else
                .estrella4(class="estrellas", onclick=`click4estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              if (imagen.votoUsuario == 5)
                .estrella5(class="estrellas estrellaSelected", onclick=`click5estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else if(imagen.votoUsuario == 0)
                .estrella5(class="estrellas", onclick=`click5estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
              else 
                .estrella5(class="estrellas", onclick=`click5estrella(${imagen.id}, ${imagen.votoUsuario})`)
                  img(src="/icons/kisspng-shape-star-clip-art-5-star-5acd78a7bfdf99.0532707615234152077859.png", alt="", class="img-estrella")
            form(id="formulario-comentario"+imagen.id, action="", class="form-comentario")
              .agregar-comentario 
                input(type="number", name="nfoto", value=imagen.id, hidden="true")
                textarea(id="n-comentario"+imagen.id, name="comentario", class="form-control rounded", rows="2", placeholder="Escribe un comentario", maxlength="300")
                button(id="btn-subir", type="button",  onclick=`comentar(${imagen.id})`)
                  img(src="/icons/pngegg.png", alt="")
          .comentarios(id="pcomentarios"+imagen.id)
            each comentario, index in imagen.comentarios.slice(0, 1)
              
              img(id="imgPrimerComentario"+imagen.id, class="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
              p(id="primerComentario"+imagen.id)= comentario.comentario
          if(imagen.comentarios.length > 1)
            details(id="masComentarios"+imagen.id)
              summary(id="summary"+imagen.id) Mas Comentarios
              each comentario, index in imagen.comentarios.slice(1, imagen.comentarios.length)
                .comentarios
                  img(class="img-perfil-comentario", src=comentario.perfil.avatar, alt="")
                  p= comentario.comentario
        .col-3 
          

            
 
